@import "@/styles/variables.module";

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: $fontSize-medium;
}
.historyCard {
  background-color: $color-card-background;
  border: 1px solid $color-borderOut;
  padding: 10px;
  border-radius: 5px;
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .img {
    max-width: 60px;
  }
}
