@import "@/styles/variables.module";

.popup {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px);
  justify-content: center;
  align-items: center;
  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: $fontSize-medium;
  }
  .item {
    overflow-y: auto;
    width: 50%;
    max-height: 80%;
  }
  .historyCard {
    background-color: $color-card-background;
    border: 1px solid $color-borderOut;
    padding: 10px;
    border-radius: 5px;
  }
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
